/* Reset CSS */
/* Common */
html {
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}
.clear {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-white{
  color: #fff !important;
}

.mt-8{
  margin-top: 8px !important;
}
.mt-16{
  margin-top: 16px !important;
}

.text-center{
  text-align: center !important;
}

.row{
  margin-left: -8px;
  margin-right: -8px;
}

/* thẻ giả */
.row::after{
  content: '';
  display: block;
  clear: both;
}

.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-full{
  width: 100%;
}
.col-half{
 width: 50%;
}

.col-third{
  width: calc(100% / 3);
}

.col-fourth{
 width: 25%;
}


.btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

/* Main */
#main {

}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: black;
  z-index: 1;

}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}
.subnav > li {
  width: 100%;
}
#nav li {
  display: inline-block;
  position: relative;
}
#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}
#nav li:hover .subnav {
  display: block !important;
}

#nav .subnav li:hover,
#nav > li:hover > a {
  color: #000 !important;
  background-color: #ccc;
}

#nav .subnav a {
  color: #000;
  padding: 12px;
  line-height: 22px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}
 #header .mobile-menu-btn{
   position: absolute;
   top: 0;
   right: 0;
   display: none;
 }

#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .mobile-menu-btn:hover{
  background-color: #ccc;
  color: #000;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .menu-icon,
#header .search-icon {
  color: #fff;
  line-height: 46px;
  font-size: 20px;
}

#slider {
  margin-top: 46px;
  position: relative;
  top: 0px;
}
.mySlides {
  display: none;
}
.slide-img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
  height: 700px;
}
.text-content {
  color: #f2f2f2;
  font-size: 32px;
  padding: 18px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}
.mydot{
  position: relative;
  margin-top: -24px;
}

.active {
  background-color: #717171;
}
@-webkit-keyframes fade {
  form {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  form {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .text-content {
    font-size: 11px;
  }
}

#content .content-section {
  width: 1000px;
  max-width:100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
  padding-left:16px;
  padding-right:16px;
}



#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  margin-top: 25px;
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .single-list {
  margin-top: 48px;
  /* overflow: hidden; */
}
.single-item > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
#content .single-item {
  text-align: center;
}
#content .single-name {
  font: size 15px;
  margin-bottom: 15px;
}

.text-white {
  color: #fff;
}
.tour-section {
  background-color: #000;
}
.ticket-list {
  background-color: #fff;
  margin-top: 40px;
}
.ticket-list li {
  color: #757575;
  list-style: none;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.ticket-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

/* place */
#content .places-list {
  margin-top: 32px;
 

}


.place-img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.place-img {
  width: 100%;
  height: 180px;
  display: block;
}
.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
  margin-top: 15px;
}

.place-date {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  margin: 15px 0;
  line-height: 1.4;
}



/* Contact */
.contact-content {
margin-top:48px;

}

.contact-info {
  font-size:18px;
  line-height:1.5;
}

.contact-info i[class*="ti-"]{
  width:30px;
  display: inline-block;
}

.contact-form {
  font-size:15px;

}

.contact-form .form-control {
  padding:10px;
  border: 1px solid #ccc;
  width: 100%;
}

.liveshow img{
  width:100%;
}

#footer {
  padding:64px 16px;
  text-align:center;
}

#footer .socials-list {
  font-size:24px;
  
}

#footer .copyright,
#footer .socials-list a{
  text-decoration:none;
  color: rgb(92, 87, 87);
}

#footer .socials-list a:hover{
  opacity: 0.5;
}

#footer .copyright{
  color: rgb(92, 87, 87);
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% -32px);
  min-height: 300px;
  position: relative;
  animation: modalFadeIn ease-in 0.4s;
}

header.modal-header {
  background-color: #009688;
  height: 130px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  letter-spacing: 6px;
  display: flex;
}
i > .ti-shopping-cart {
  padding-right: 10px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 8px 16px;
  border-radius: 2px;
}

.modal-close:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
.modal-body {
  padding: 16px;
}

.modal-lable {
  display: block;
  font: size 15px;
  margin-bottom: 12px;
}
input.modal-input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-bottom: 24px;
}

button#buy-ticket {
  width: 100%;
  background-color: #009688;
  border: none;
  color: #fff;
  margin: 16px 0;
  padding: 16px;
  text-transform: uppercase;
}

button#buy-ticket:hover {
  opacity: 0.8;
}

.modal-footer {
  padding: 16px;
  font-size: 15px;
  text-align: right;
  color: #000;
  line-height: 16px;
}

.modal-footer a {
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
